h1{
    color: #456268;
}

h2{
    color: #456268;
}

#contact-us{
    color: green;
}

td:only-child{
    color: purple;
}

#google-link:link{ /* univisited */
    color: green;
}

#google-link:visited{ /* visited */
    color: red;
}

:root{
    background-color: #fcf8ec;
}

h2 + a{ /* every anchor tag that follows an h2*/
    color: blue;
}

textarea ~ button { /*Every textarea thats followed by a button and they both share same parents (so siblings)*/
    /*CHANGES ARE APPLIED ON BUTTON IN THIS CASE*/
    color: aqua;
    width: 10em;
}


ul > li{ /*Every single child of a ul (child selector, must be a direct child)*/
    color: pink;
}

ul li { /*Every single li that is a decendent of ul (so doens't have to be a direct child, which means ul can be grand parent etc etc)*/
    color:brown;
}


.subtitle{
    border: solid blue;
    text-decoration-line: underline;
    text-decoration-color: red;
    padding: 10px;
    text-align: center;
}

h2[class=subtitle]{ /*EVERY H2 THAT HAS A CLASS ATTRIBUTE WITH VALUE OF SUBTITLE*/
    color: yellow;
}